@font-face {
  font-family: 'SairaExtraCondensedThinItalic';
  src: url(fonts/saira-extra-condensed-thin-italic.ttf);
 
}
@font-face {
    font-family: 'SairaExtraCondensedSemiBoldItalic';
    src: url(fonts/saira-extra-condensed-semi-bold-italic.ttf);
}
@font-face {
    font-family: 'SairaExtraCondensedExtraLight';
    src: url(fonts/SairaExtraCondensed-ExtraLight.ttf);
}
@font-face {
    font-family: 'SairaExtraCondensedLight';
    src: url(fonts/SairaExtraCondensed-Light.ttf);
}
@font-face {
    font-family: 'SairaExtraCondensedMedium';
    src: url(fonts/SairaExtraCondensed-Medium.ttf);
}
h1, p {
    font-size: 40px;
    font-family: 'SairaExtraCondensedThinItalic';
    margin-top: 0px;
}
button {
    font-family: 'SairaExtraCondensedExtraLight';
}
img {
    margin-top: 50px;
    margin-bottom: -18px;
}
.img2 {
    margin-top: -24px; /* Moves only the second image down. Adjust as needed. */
}   